.custom-card {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-card);
    border-radius: var(--radius-lg);
    padding: 25px 48px;

    @media (min-width: 1280px) {
        gap: 50px;
        padding: 50px;
        flex-direction: row;
    }
}

.custom-card__header {
    display: flex;
    @media (min-width: 1280px) {
        justify-content: center;
        align-items: center;
        width: 50%;
    }
}

.custom-card__body {
    @media (min-width: 1280px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
    }
}

.custom-card__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    @media (min-width: 1280px) {
        margin-bottom: 0;
    }
}

.custom-card__image {
    min-width: 270px;

    @media (min-width: 1280px) {
        min-width: 330px;
    }
}

.custom-card__content {
    @media (min-width: 1280px) {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
}

.custom-card__title {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;

    @media (min-width: 1280px) {
        margin-bottom: 0;
        font-size: 48px;
    }
}

.custom-card__subtitle {
    color: var(--text-color-secondary);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;

    @media (min-width: 1280px) {
        margin-bottom: 0;
        font-size: 24px;
    }
}

.custom-card__description {
    color: var(--text-color-secondary);
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;

    @media (min-width: 1280px) {
        margin-bottom: 0;
        font-size: 16px;
    }
}

.custom-card__dress-code {
    margin-bottom: 20px;

    @media (min-width: 1280px) {
        padding-bottom: 30px;
    }
}

.custom-card__dress-code-label {
    border: 1px solid var(--border-color);
    border-radius: 29px;
    padding: 0 10px;
    color: var(--text-color-secondary);
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 400;

    @media (min-width: 1280px) {
        font-size: 16px;
    }
}

.custom-card__dress-code-text {
    color: var(--text-color-secondary);
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 400;

    @media (min-width: 1280px) {
        font-size: 16px;
    }
}

.custom-card__buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.custom-card__button {
    max-height: 35px !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    padding: 10px 20px !important;

    @media (min-width: 1280px) {
        font-size: 20px !important;
    }
}

.custom-card__button--dark {
    color: var(--text-color-muted) !important;
    background-color: var(--background-color-button-dark) !important;
    box-shadow: none !important;
}

.custom-card__button--primary {
    background-color: var(--primary-color);
}

.custom-card--active {
    opacity: 1;
    filter: brightness(1);
    transition: opacity 0.3s ease, filter 0.3s ease;
    box-shadow: 0 6px 36px rgba(255, 255, 255, 0.1);
}
  
  .custom-card--inactive {
    opacity: 0.5;
    filter: brightness(0.7);
    transition: opacity 0.3s ease, filter 0.3s ease;
    box-shadow: 0 6px 36px rgba(255, 255, 255, 0.15);
  }
  
  .custom-card--inactive:hover {
    opacity: 0.7;
    filter: brightness(0.85);
    cursor: pointer;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.9);  
}